/**
 * Resets
 */

@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'Paralucent Text Pro', Trebuchet MS, serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-size: 14px;
  overflow: hidden;
  background: #eee;

  a {
    color: #333;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

.alignment {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 0 100px;
}
